<div class="row">
    <span am-navigate-to="contacts"></span>

    <div class="col-md-6 col-sm-6">
        <form>
            <label>First Name</label>
            <input ng-model="newcontact.firstname" type="text" class="form-control">
        </form>
    </div>
    <div class="col-md-6 col-sm-6">
        <form>
            <label>Last Name</label>
            <input ng-model="newcontact.lastname" type="text" class="form-control">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <label>First Name</label>
            <input type="text" class="form-control">
        </form>
    </div>
</div>